<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin="" />

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

    <script
            crossorigin=""
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    ></script>
    <style >
        button{
            align-items: center;
            justify-items: center;
            margin:50px;
        }
        body{
            margin: 0;

        }
        #map{
            height: 550px;
            width: 65%;
            border: 10px sienna;
            float: right;
            margin-right: 10px;
            border-radius: 20px;
        }
        nav {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;
            border-radius: 100px;

        }
        ul {
            margin: 0;
            margin-top: 20px;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            list-style: none;
            text-align: center;
            display: inline-block;
            border-radius: 100px;
        }
        li {
            display: inline-block;
            float: left;
            margin-left: auto;


        }
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover {
            background-color: #111;
            text-decoration-color: cadetblue;
            color: cadetblue;
        }
        #controls{
            width: 30%;
            margin:10px;

        }
        .settings{
            display: block;
            margin-left: 20%;
            margin-top: 100px;
            align-items: center;
            justify-content: center;
            justify-items: center;
            align-content: center;
            height: 300px;

        }
        button{
            width: 200px;
            background-color: #111111; /* Green */
            border-radius: 20px;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        button:hover{
            background: white;
            color: #111111;
        }
        h3,li,button,label{
            font-family: Papyrus, fantasy;
            color: white;
        }
        a:active{
            background-color: white;
            color: #111111;
        }

    </style>

</head>
<body th:style="'background-image:url(' + @{/images/siteBackground.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">


<nav>
    <ul>
        <li><a th:href="@{/Navster/Map}">Home</a></li>
        <li><a th:href="@{/Navster/table}">All Locations</a></li>
        <li><a th:href="@{/Navster/logout}">Log out</a></li>

    </ul>
</nav>

<div id="map"></div>





<div id="controls">
    <div class="settings">


        <form th:action="@{/Navster/search}" method="POST">
            <label for="search">Filter Locations</label>
            <input name="keyword" th:value="${keyword}" style="height:40px;" id="search" type="search" pattern=".*\S.*" required>
            <span class="caret"></span>
        </form>
    <form action="/Navster" method="POST" class="custom-select">
        <h3>Choose from the list of Locations:</h3></br>
        <select th:name="hotel">
            <option th:if="${hotelList}!=null"
                    th:each="hotel:${hotelList}"
                    th:value="${hotel.getId()}"
                    th:text="${hotel.getName()}">
            </option>
        </select></br>

        <button type="submit">Show Location on Map</button></br>

    </form>
    </div>
</div>
</body>
</html>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>


<script>
    let map = L.map('map').setView([41.9981, 21.4254], 13);
    const attribution=
        '&copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a>';
    const tileUrl='https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png';
    const tiles=L.tileLayer(tileUrl,{attribution});
    tiles.addTo(map);


    let getHotels_Visible = true;
    let markers = [];
    let user_position;

    //Get Hotel array from Json file
    function getHotels() {
       console.log(hotels.hotels.length)
        if(getHotels_Visible) {
            getHotels_Visible=false;
            for (let i = 0; i < hotels.hotels.length; i++) {

                let hotel = hotels.hotels[i];
                let marker = L.marker([hotel.long, hotel.lat]);
                marker.on('click', function (r) {
                    let lat = user_position.coords.latitude;
                    let long = user_position.coords.longitude;
                    L.Routing.control({
                        waypoints: [
                            L.latLng(r.latlng.lat, r.latlng.lng),
                            L.latLng(lat, long)
                        ]
                    }).addTo(map);
                });
                markers.push(marker);
                map.addLayer(markers[i]);

            }
        }else removeMarkers();
    }

    function removeMarkers(){
        markers.forEach(item => {
            markers.pop();
            map.removeLayer(item);
           // markers.pop();
        });
        getHotels_Visible=true;
    }
    //set view of map to Skopje



    // getHotels();
    if(!navigator.geolocation){
        console.log("doesnt support")
        alert("your browser doesnt support location tracking");
    }else{
        navigator.geolocation.getCurrentPosition(returnUser_position);
    }
    //get user position
    function  getPosition(position){
        let lat=position.coords.latitude;
        let long = position.coords.longitude;
        L.Routing.control({
            waypoints: [
                L.latLng(lat, long),
                L.latLng(lat_Controller, long_Controller)
            ]
        }).addTo(map);
    }

    //Saves User Location
   function returnUser_position(position){
        user_position=position;
   }



</script>
<script th:inline="javascript">

        let lat_Controller = [[${latitude}]];
        let long_Controller = [[${longitude}]];
        let location_Name = [[${locationName}]].toString();
        let location_Rating = [[${rating}]];
        console.log(location_Name);
        let locationMarker = L.marker([lat_Controller, long_Controller]).addTo(map);
        let popup=locationMarker.bindPopup(location_Name + "</br>"+"Rating: "+location_Rating
            +"</br>"+"Press to see route").openPopup();
        locationMarker.on('click',function (r){
            let lat = user_position.coords.latitude;
            let long = user_position.coords.longitude;
            L.Routing.control({
                waypoints: [
                    L.latLng(r.latlng.lat, r.latlng.lng),
                    L.latLng(lat, long)
                ]
            }).addTo(map);

        });
        map.setView([lat_Controller, long_Controller], 15);
        //  navigator.geolocation.getCurrentPosition(getPosition);

   let hotels = {
       "hotels": [{
           "name": "Хотел „Александар Палас“",
           "city": "Cкoпje",
           "lat": 21.4051544,
           "long": 42.0112726
       }, {
           "name": "Holiday Inn Skopje",
           "city": "Cкoпje",
           "lat": 21.4365333,
           "long": 41.9944713
       }, {
           "name": "Hotel Stone Bridge",
           "city": "Cкoпje",
           "lat": 21.4344644,
           "long": 41.9974124
       }, {
           "name": "Park Hotel & Spa",
           "city": "Cкoпje",
           "lat": 21.4256344,
           "long": 42.0068986
       }, {
           "name": "Хотел Њу Стар",
           "city": null,
           "lat": 21.410902,
           "long": 42.0427159
       }, {
           "name": "Еуро Хотел Градче",
           "city": null,
           "lat": 22.406671,
           "long": 41.9639493
       }, {"name": "Хотел Епинал", "city": null, "lat": 21.3361267, "long": 41.0277101}, {
           "name": "Хотел Јадран",
           "city": "Cкoпje",
           "lat": 21.4293538,
           "long": 41.9970243
       }, {"name": "Hotel Lirak", "city": null, "lat": 20.9713129, "long": 42.0094191}, {
           "name": "Хотел Мола",
           "city": "Cкoпje",
           "lat": 21.4191654,
           "long": 41.9950869
       }, {"name": "Хотел Карпош", "city": "Cкoпje", "lat": 21.4073652, "long": 42.002076}, {
           "name": "Super 8",
           "city": "Cкoпje",
           "lat": 21.4386882,
           "long": 41.9995866
       }, {"name": "Хотел Наис", "city": null, "lat": 21.4489864, "long": 41.961187}, {
           "name": "Аристократ палас",
           "city": "Cкoпje",
           "lat": 21.4139364,
           "long": 41.9905922
       }, {"name": "Евро сет Хотел", "city": null, "lat": 21.3976583, "long": 42.0156402}, {
           "name": "Портал хотел",
           "city": null,
           "lat": 21.402701,
           "long": 42.0141705
       }, {"name": "Капри", "city": null, "lat": 21.2968295, "long": 41.0385592}, {
           "name": "Millenium",
           "city": "Bitola",
           "lat": 21.33544,
           "long": 41.0287936
       }, {"name": "Kristonia Hotel", "city": null, "lat": 22.8638113, "long": 40.9973153}, {
           "name": "Дувет",
           "city": "Cкoпje",
           "lat": 21.424596,
           "long": 41.998786
       }, {"name": "Цар Самуил", "city": null, "lat": 22.7550258, "long": 41.3827375}, {
           "name": "Classic Hotel",
           "city": null,
           "lat": 20.7390453,
           "long": 42.2094484
       }, {"name": "Hotel T&A", "city": "Prizren", "lat": 20.7265664, "long": 42.234151}, {
           "name": "Сити 5",
           "city": "Cкoпje",
           "lat": 21.4192474,
           "long": 41.9944726
       }, {
           "name": "Хотел Дувет",
           "city": "Cкoпje",
           "lat": 21.4294518,
           "long": 41.996425
       }, {
           "name": "Хотел Континентал",
           "city": "Cкoпje",
           "lat": 21.4527101,
           "long": 41.9988404
       }, {
           "name": "Хотел Амбасадор",
           "city": "Cкoпje",
           "lat": 21.4247188,
           "long": 41.9996516
       }, {"name": "Викторија", "city": "Cкoпje", "lat": 21.4160032, "long": 41.9897039}, {
           "name": "Вила Водно",
           "city": "Cкoпje",
           "lat": 21.4156421,
           "long": 41.9860759
       }, {
           "name": "Панорама Резиденс",
           "city": null,
           "lat": 21.4187828,
           "long": 41.9836962
       }, {
           "name": "Hotel Arka",
           "city": "Cкoпje",
           "lat": 21.4387045,
           "long": 42.0018112
       }, {"name": "Одмаралиште на МВР", "city": null, "lat": 22.355155, "long": 42.0337428}, {
           "name": "Лаки",
           "city": "Cкoпje",
           "lat": 21.4225208,
           "long": 41.9953932
       }, {"name": "Трите Буки", "city": null, "lat": 22.6215255, "long": 42.1811452}, {
           "name": "Казино Фламинго",
           "city": null,
           "lat": 22.5441654,
           "long": 41.1356437
       }, {
           "name": "Hotel Ramada Princess",
           "city": null,
           "lat": 22.539684,
           "long": 41.141174
       }, {"name": "Принцез Касино", "city": null, "lat": 22.5374492, "long": 41.1403987}, {
           "name": "Казино Ројал",
           "city": null,
           "lat": 22.7215681,
           "long": 41.1859585
       }, {
           "name": "Хотел Манастир Св. Јоаким Осоговски",
           "city": null,
           "lat": 22.3624846,
           "long": 42.2092207
       }, {
           "name": "Алпийска градина",
           "city": null,
           "lat": 23.1400054,
           "long": 41.8796971
       }, {"name": "Хотел Шагал", "city": null, "lat": 22.4690816, "long": 41.9093464}, {
           "name": "Хотел Филипов",
           "city": null,
           "lat": 22.4490004,
           "long": 41.9143887
       }, {"name": "Хотел Молика", "city": null, "lat": 21.22533, "long": 41.0362814}, {
           "name": "Хотел Радика",
           "city": null,
           "lat": 20.7918083,
           "long": 41.6921944
       }, {"name": "Hotel Bellevue", "city": null, "lat": 20.8020499, "long": 41.0589639}, {
           "name": "Хотел Бетон",
           "city": null,
           "lat": 20.8026919,
           "long": 41.0756816
       }, {"name": "Метропол", "city": null, "lat": 20.8017102, "long": 41.0577905}, {
           "name": "Хотел Силекс",
           "city": null,
           "lat": 20.8020311,
           "long": 41.0750817
       }, {
           "name": "Хотел Славија Спектар",
           "city": null,
           "lat": 20.7996332,
           "long": 41.0793509
       }, {"name": "Хотел Инекс Горица", "city": null, "lat": 20.797613, "long": 41.0853979}, {
           "name": "Турист",
           "city": null,
           "lat": 20.8017586,
           "long": 41.0567441
       }, {
           "name": "Комплекс Хотел Изгрев",
           "city": "Струга",
           "lat": 20.6475809,
           "long": 41.1426005
       }, {"name": "Chateau Rond", "city": null, "lat": 21.9433726, "long": 40.9723108}, {
           "name": "Амбасадор",
           "city": null,
           "lat": 20.7528632,
           "long": 41.1583607
       }, {"name": "Коцарев", "city": null, "lat": 20.7599517, "long": 41.1474765}, {
           "name": "Десарет",
           "city": null,
           "lat": 20.8067696,
           "long": 41.0124323
       }, {
           "name": "Robevski lux",
           "city": "Bitola",
           "lat": 21.3354704,
           "long": 41.0293373
       }, {
           "name": "Хотел Мериот Скопје",
           "city": "Cкoпje",
           "lat": 21.4309098,
           "long": 41.9960304
       }, {
           "name": "Хотел Резиденс Ин",
           "city": "Cкoпje",
           "lat": 21.424337,
           "long": 42.0024841
       }, {"name": "Hotel Arxhena", "city": null, "lat": 20.7109498, "long": 41.9653938}, {
           "name": "Хотел Кичево",
           "city": "Кичево",
           "lat": 20.9580855,
           "long": 41.5099495
       }, {
           "name": "Hotel Narcis Brezovicë",
           "city": null,
           "lat": 21.0018413,
           "long": 42.2222727
       }, {"name": "Arabella", "city": null, "lat": 20.9619816, "long": 41.5192884}, {
           "name": "Hotel OK",
           "city": null,
           "lat": 20.7715576,
           "long": 42.252892
       }, {
           "name": "Хотел Глигоров",
           "city": null,
           "lat": 22.6496647,
           "long": 41.4397072
       }, {"name": "Хотел Макпетрол", "city": null, "lat": 20.645882, "long": 41.1399784}, {
           "name": "Voloreka",
           "city": null,
           "lat": 20.7120367,
           "long": 40.900985
       }, {
           "name": "Хотел Крушино",
           "city": null,
           "lat": 20.9378922,
           "long": 41.5122337
       }, {"name": "Oferta de luxe", "city": null, "lat": 20.6996603, "long": 42.2425435}, {
           "name": "Pine Hotel",
           "city": "Cкoпje",
           "lat": 21.407184,
           "long": 41.9941554
       }, {
           "name": "Вила Рагуза",
           "city": "Cкoпje",
           "lat": 21.4183953,
           "long": 41.9856848
       }, {
           "name": "Panoramika Design Hotel",
           "city": "Cкoпje",
           "lat": 21.42003,
           "long": 41.9835198
       }, {
           "name": "Hotel-Spa Κωνσταντίνα",
           "city": null,
           "lat": 23.0225509,
           "long": 41.25554
       }, {"name": "Ρεφανίδης Ιωα.", "city": null, "lat": 23.0141977, "long": 41.2771983}, {
           "name": "Рива",
           "city": null,
           "lat": 20.9133893,
           "long": 40.9391914
       }, {"name": "Epavlis", "city": null, "lat": 23.0157723, "long": 41.2867646}, {
           "name": "Hotel City Park",
           "city": "Cкoпje",
           "lat": 21.4221075,
           "long": 42.0024798
       }, {
           "name": "Emka",
           "city": "Тетово",
           "lat": 20.9583862,
           "long": 41.9860837
       }, {
           "name": "Opera House Hotel Skopje",
           "city": "Cкoпje",
           "lat": 21.439089,
           "long": 41.9966717
       }, {
           "name": "Luxury Skopje Apartments",
           "city": "Cкoпje",
           "lat": 21.4395102,
           "long": 41.9969486
       }, {"name": "Hotel \"Abi\"", "city": null, "lat": 20.7318755, "long": 42.2152575}, {
           "name": "Бел камен",
           "city": null,
           "lat": 22.5037931,
           "long": 41.7410244
       }, {"name": "Hotel Royal", "city": null, "lat": 20.9651596, "long": 41.98509}, {
           "name": "Hotel Kuinta",
           "city": "Pogradec",
           "lat": 20.6712962,
           "long": 40.9010274
       }, {"name": "Hotel New Titanic", "city": null, "lat": 20.7111225, "long": 40.9010088}, {
           "name": "Solun",
           "city": "Cкoпje",
           "lat": 21.4292398,
           "long": 41.9954692
       }, {
           "name": "Hotel Enkelana",
           "city": "Pogradec",
           "lat": 20.6581287,
           "long": 40.9030857
       }, {
           "name": "Хотел Алекандрија",
           "city": null,
           "lat": 20.7980263,
           "long": 41.1122914
       }, {
           "name": "Вила Коста Охрид",
           "city": null,
           "lat": 20.7980412,
           "long": 41.1123101
       }, {
           "name": "Guesthouse Liogerma",
           "city": null,
           "lat": 21.9393426,
           "long": 40.9691296
       }, {"name": "Хотел Липа ГА", "city": null, "lat": 21.5485023, "long": 41.3430596}, {
           "name": "Hotel Sharri",
           "city": null,
           "lat": 20.9201106,
           "long": 42.1806301
       }, {
           "name": "Hotel Estrada",
           "city": null,
           "lat": 20.8006025,
           "long": 42.2961182
       }, {
           "name": "ТЦЦ Гранд Плаза",
           "city": "Cкoпje",
           "lat": 21.4039805,
           "long": 41.9968559
       }, {
           "name": "Кристал Палас",
           "city": null,
           "lat": 21.5418281,
           "long": 41.3450934
       }, {
           "name": "Hotel Golden Place",
           "city": null,
           "lat": 20.7355975,
           "long": 41.6765545
       }, {
           "name": "Mia's Favorite Hotel Mavrovo",
           "city": null,
           "lat": 20.7336597,
           "long": 41.6586229
       }, {
           "name": "Хотел Македонија",
           "city": "Делчево",
           "lat": 22.7708989,
           "long": 41.9658868
       }, {
           "name": "Hotel Europe",
           "city": null,
           "lat": 21.4204935,
           "long": 41.9855113
       }, {
           "name": "Хотел Романтик Дорјан",
           "city": "Стар Дојран",
           "lat": 22.7218986,
           "long": 41.1852964
       }, {"name": "Премиер", "city": null, "lat": 21.437063, "long": 41.9902775}, {
           "name": "Хамбург",
           "city": null,
           "lat": 21.4394316,
           "long": 42.0015544
       }, {
           "name": "Софка Парк - Кај Ефто",
           "city": null,
           "lat": 21.4260715,
           "long": 42.0035292
       }, {"name": "Томче Софка", "city": null, "lat": 21.4258875, "long": 42.0037336}, {
           "name": "Вила Силија",
           "city": null,
           "lat": 21.4267623,
           "long": 41.9839874
       }, {
           "name": "Шумски Фенери",
           "city": null,
           "lat": 21.255152,
           "long": 41.0432725
       }, {"name": "Хотел Попова Шапа", "city": null, "lat": 20.8824732, "long": 42.0140431}, {
           "name": "Скардус",
           "city": null,
           "lat": 20.8812326,
           "long": 42.0163519
       }, {"name": "Snow Patrol", "city": null, "lat": 20.8850466, "long": 42.0126603}, {
           "name": "Хотел Тетекс",
           "city": null,
           "lat": 20.8835384,
           "long": 42.013527
       }, {
           "name": "Hi Skopje Hostel",
           "city": "Cкoпje",
           "lat": 21.4261366,
           "long": 41.983618
       }, {
           "name": "Хотел Леонардо",
           "city": "Cкoпje",
           "lat": 21.4258025,
           "long": 41.9858863
       }, {
           "name": "Бест Вестерн Хотел Белви",
           "city": null,
           "lat": 21.5519405,
           "long": 41.9969349
       }, {"name": "Glam", "city": "Cкoпje", "lat": 21.417611, "long": 41.9985795}, {
           "name": "Victoria",
           "city": null,
           "lat": 22.8559006,
           "long": 40.9976064
       }, {
           "name": "Hotel Molika Brezovicë",
           "city": null,
           "lat": 21.0348237,
           "long": 42.1819622
       }, {
           "name": "Премиер Центар",
           "city": "Битола",
           "lat": 21.3333713,
           "long": 41.0255452
       }, {
           "name": "Motel Lovac",
           "city": null,
           "lat": 21.0220624,
           "long": 42.2397505
       }, {
           "name": "Urbanista - Boutique Hotel",
           "city": "Stip",
           "lat": 22.1894829,
           "long": 41.7359445
       }, {"name": "Далјан", "city": null, "lat": 20.7738973, "long": 41.1223739}, {
           "name": "Aurora",
           "city": null,
           "lat": 22.8942823,
           "long": 41.6732984
       }, {
           "name": "Hotel Restaurant Korabi",
           "city": null,
           "lat": 20.4886156,
           "long": 41.8140702
       }, {
           "name": "Хотел Монте Кристо",
           "city": "Благоевград",
           "lat": 23.1005188,
           "long": 42.022956
       }, {
           "name": "Bushi Resort & Spa",
           "city": "Skopje",
           "lat": 21.4364978,
           "long": 42.0014557
       }, {"name": "Hotel Old Bazaar", "city": "Cкoпje", "lat": 21.4366948, "long": 42.001764}, {
           "name": "VIP",
           "city": null,
           "lat": 21.4490605,
           "long": 41.9973623
       }, {
           "name": "Хотел Бисер",
           "city": "Струга",
           "lat": 20.651064,
           "long": 41.1453468
       }, {"name": "Hotel \"Μορφή\"", "city": null, "lat": 23.0886144, "long": 41.2164374}, {
           "name": "Хотел Дрим",
           "city": "Струга",
           "lat": 20.6786037,
           "long": 41.1732589
       }, {
           "name": "Хотел „Европа“",
           "city": null,
           "lat": 20.9151624,
           "long": 40.9790323
       }, {
           "name": "Apart Hotel Kalonis",
           "city": "Cкoпje",
           "lat": 21.444719,
           "long": 41.9942196
       }, {
           "name": "Hotel Bella Donna",
           "city": null,
           "lat": 21.7325864,
           "long": 42.1236318
       }, {
           "name": "Lakeside Hotel",
           "city": null,
           "lat": 20.564578,
           "long": 42.1634636
       }, {
           "name": "Hotel Euro Korca",
           "city": null,
           "lat": 20.6696277,
           "long": 40.9007466
       }, {
           "name": "Hotel Perla",
           "city": "Pogradec",
           "lat": 20.6720047,
           "long": 40.9007387
       }, {
           "name": "Theranda Hotel",
           "city": "Prizren",
           "lat": 20.7413195,
           "long": 42.2102216
       }, {"name": "Hotel Garden Spa", "city": "Cкoпje", "lat": 21.4074706, "long": 41.9930582}, {
           "name": "Плажа",
           "city": "Струга",
           "lat": 20.6745748,
           "long": 41.1744101
       }, {"name": "Блу Скај", "city": null, "lat": 20.6785022, "long": 41.1775642}, {
           "name": "Royal L Hotel",
           "city": null,
           "lat": 21.0065521,
           "long": 41.0450788
       }, {"name": "Hotel Russia", "city": "Скопје", "lat": 21.4651469, "long": 41.9926832}, {
           "name": "UNIQUE",
           "city": "Охрид",
           "lat": 20.8104426,
           "long": 41.1053364
       }, {
           "name": "Ibis Skopje City Center",
           "city": "Cкoпje",
           "lat": 21.4295469,
           "long": 41.9970875
       }, {"name": "Sport Hotel", "city": null, "lat": 20.7356341, "long": 41.6525663}, {
           "name": "Корона",
           "city": "Благоевград",
           "lat": 23.1006396,
           "long": 42.0177621
       }, {
           "name": "Алфа",
           "city": null,
           "lat": 23.1013923,
           "long": 42.0168211
       }, {
           "name": "DoubleTree by Hilton Skopje",
           "city": "Cкoпje",
           "lat": 21.4733223,
           "long": 41.9906315
       }, {
           "name": "Woodland Hotel",
           "city": null,
           "lat": 21.0326091,
           "long": 42.1811052
       }, {"name": "Хотел Ален Мак", "city": null, "lat": 23.0949488, "long": 42.0206186}, {
           "name": "Хотел Мимоза",
           "city": "Куманово",
           "lat": 21.7329641,
           "long": 42.1206372
       }, {"name": "Памела", "city": null, "lat": 22.0965374, "long": 41.4944043}, {
           "name": "Villa Varosh",
           "city": "Охрид",
           "lat": 20.7940833,
           "long": 41.1128302
       }, {"name": "Романтик", "city": null, "lat": 21.7557519, "long": 41.7784087}, {
           "name": "Хотел Феникс",
           "city": "Благоевград",
           "lat": 23.0906965,
           "long": 42.015333
       }, {"name": "Монтана", "city": "Крушево", "lat": 21.2524989, "long": 41.3644596}, {
           "name": "Панорама",
           "city": "Крушево",
           "lat": 21.2485109,
           "long": 41.3636175
       }, {
           "name": "Илинден",
           "city": null,
           "lat": 21.2509987,
           "long": 41.3636441
       }, {
           "name": "Хотел \"Св. Неделя\"",
           "city": null,
           "lat": 23.1162813,
           "long": 41.3590219
       }, {
           "name": "Хотел \"Момата\"",
           "city": "Коларово",
           "lat": 23.1039079,
           "long": 41.3637292
       }, {
           "name": "Kumanovo Spa",
           "city": "Kumanovo",
           "lat": 21.7445607,
           "long": 42.1217788
       }, {
           "name": "Hotel Lydra",
           "city": null,
           "lat": 22.0612946,
           "long": 40.9750369
       }, {
           "name": "Хотел Парк Бачиново",
           "city": null,
           "lat": 23.1382865,
           "long": 42.0358497
       }, {
           "name": "СПА Хотел Орбита",
           "city": null,
           "lat": 23.154126,
           "long": 42.0413623
       }, {
           "name": "Хотел Бристол",
           "city": "Скопје",
           "lat": 21.4295753,
           "long": 41.9919103
       }, {"name": "Црешово Топче", "city": null, "lat": 22.1777183, "long": 42.0002521}, {
           "name": "Шатор",
           "city": null,
           "lat": 21.2551644,
           "long": 41.0444911
       }, {"name": "Полин", "city": null, "lat": 22.7224746, "long": 41.1841178}, {
           "name": "Македонија",
           "city": null,
           "lat": 22.7206899,
           "long": 41.1862726
       }, {"name": "Бетон", "city": "Стар Дојран", "lat": 22.7218738, "long": 41.1863652}]
   };

</script>
